<div th:fragment="script">
    <!-- Javascript -->
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/admin/js/zoom.js}"></script>
    <script th:src="@{/admin/js/switcher.js}"></script>
    <script th:src="@{/admin/js/theme-settings.js}"></script>
    <script th:src="@{/admin/js/main.js}"></script>
    <script th:src="@{/admin/js/jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/admin/js/jvectormap-us-lcc.js}"></script>
    <script th:src="@{/admin/js/jvectormap.js}"></script>
    <script th:src="@{/admin/js/morris.min.js}"></script>
    <script th:src="@{/admin/js/raphael.min.js}"></script>
    <script th:src="@{/admin/js/morris.js}"></script>
    <script th:src="@{/admin/js/apexcharts/apexcharts.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-1.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-6.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-7.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-9.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-14.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-15.js}"></script>
    <script th:src="@{/admin/js/apexcharts/line-chart-18.js}"></script>
</div>